<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Edit User Info</title>
</head>
<body>
<form th:action="@{/users/edit}" method="post" th:object="${user}">
    <div class="input_form">
        <label>name:
            <input type="text" th:field="*{name}">
        </label>
    </div>
    <div class="input_form">
        <label>email:
            <input type="text" th:field="*{email}">
        </label>
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>
