<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project List</title>
</head>
<body>
<h1>Project List</h1>
<table>
    <tr>
        <td th:text="${project.name}"></td>
    </tr>
    <tr>
        <td th:text=="${#dates.format(project.startDate, 'yyyy/MM/dd')}"></td>
    </tr>
    <tr>
        <td th:text=="${#dates.format(project.endDate, 'yyyy/MM/dd')}"></td>
    </tr>
    <tr>
        <td th:text="${project.language}"></td>
    </tr>
    <tr>
        <td th:text="${project.framework}"></td>
    </tr>
    <tr>
        <td th:text="${project.middleware}"></td>
    </tr>
    <tr>
        <td th:text="${project.about}"></td>
    </tr>
    <tr>
        <td><a th:href="@{{id}/edit(id=${project.id})}">edit</a></td>
    </tr>
</table>
</body>
</html>
