<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:a="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
</head>
<body>
<form th:action="@{/projects/add}" method="post" th:object="${projectForm}">
    <div class="input_form">
        <label>project name
            <input type="text" th:field="*{name}">
        </label>
    </div>
    <div class="input_form">Date
        <label>
            <input type="date" th:field="*{startDate}">
        </label>〜
        <label>
            <input type="date" th:field="*{endDate}">
        </label>
    </div>
    <div class="input_form">
        <label>language
            <input type="text" th:field="*{language}">
        </label>
    </div>
    <div class="input_form">
        <label>framework
            <input type="text" th:field="*{framework}">
        </label>
    </div>
    <div class="input_form">
        <label>middleware
            <input type="text" th:field="*{middleware}">
        </label>
    </div>
    <div class="input_form">
        <label>about
            <textarea th:field="*{about}"></textarea>
        </label>
    </div>
    <button type="submit">Add</button>
</form>
</body>
</html>
